#notice_meta {
    width: 300px;
}
#metalog {
    width: 600px;
    font-size: x-small;
}
#log a:hover {
    cursor:pointer;
}
#log a {
    color: #333333;
}
.loghour {
    background-color: #eee;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top:    10px;
    margin-bottom: 10px;
    padding:  15px;
}
@media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
  } 
}

