#notice_meta {
    width: 300px;
}
#metalog {
    width: 600px;
    font-size: x-small;
}
#log h4 a  {
    color: #ffffff;
}
#log a {
    color: #333333;
    text-decoration: none;
}
@media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
  } 
}

