body {
  padding-top: 60px;
}
#notice_meta {
    width: 300px;
}
#metalog {
    width: 600px;
    font-size: x-small;
}
#log {
    list-style-type: none;
}

@media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
  } 
}