<VirtualHost *:80>

    ServerAdmin michael@thegrebs.com
    DocumentRoot /home/michael/gallowaynow/galloway_now/public
    ServerName gallowaynow.com
    ServerAlias www.gallowaynow.com
    ErrorLog /var/log/apache/gallowaynow.error.log
    CustomLog /var/log/apache/gallowaynow.access.log combined

    <Perl>
        use lib '/home/michael/gallowaynow/galloway_now/lib'
    </Perl>

  SetHandler perl-script
  PerlResponseHandler Plack::Handler::Apache2
  PerlSetVar psgi_app /home/michael/gallowaynow/galloway_now/script/galloway_now

  Alias /assets /home/michael/gallowaynow/galloway_now/public
  <Location /assets>
    SetHandler None
  </Location>

  Alias /radio/archive/log "/home/michael/public_html/stream/archive/"
  Alias /radio/archive/mp3 "/home/michael/public_html/stream/archive/"

  <Location /radio/archive/log>
     SetHandler None
  </Location>
  <Location /radio/archive/mp3>
     SetHandler None
  </Location>

</VirtualHost>
